<ion-header>
  <ion-toolbar>
    <ion-title>New todo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <form>
            <ion-item>
              <ion-label position="stacked">Title</ion-label>
              <ion-textarea style="height: 5em;"></ion-textarea>
              <!-- <ion-input></ion-input> -->
            </ion-item>
            <!-- <ion-label>Due: </ion-label>
            <ion-input type="date"></ion-input> -->
            <ion-item>
              <ion-label position="stacked">Due: </ion-label>
              <ion-input type="date"></ion-input>
            </ion-item>
            <!-- <ion-item>
              <ion-label position="floating">Enter Date</ion-label>
              <ion-datetime
                mode="date"
              >
              </ion-datetime>
            </ion-item> -->
            <br><br>
            <ion-button>Save</ion-button>
          </form>
        </ion-card-content>
      </ion-card>
      
    </ion-col>
  </ion-row>
</ion-content>
